*{
    margin: 0;
    padding: 0;
}

/* .container:nth-child(1){
    background-color: #3459e6;
    max-width: 100%;
    margin-top: 0 !important;
    height: 7vh;
} */

.navbar{
    background-color: #3459e6;
    height: 7vh;
}

.navbar-header a{
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}

.navbar-header{
    width: 100%;
    /* margin-top: -5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchText{
    text-align: center;
}